@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
body{
    background-color: #fff3e0;
}

header{
    padding: 20px 8%;
    z-index: 20;
    margin-bottom: 0;
    margin-top: 0;
    background-color: white;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-nav ul{
    display: flex;
    gap: 60px;

}
.header-nav ul a{
    color: black;
    font-size: 25px;

}
.header-nav ul a:hover{
    color: #ffb300;
    border-bottom: 3px solid #ffb300;
}  

.btn{
   padding: 15px 30px;
   font-size: 20px;
   border: none;
   cursor: pointer;
   background: none;     
}
.btn2{
    background-color: #e65100;
    border-radius: 10px;
    color: black;
}




.logo img{
  max-width: 150px;
  height: auto;
}
.debut{
   background-image:  linear-gradient(#e651007f, #e6510090),url(images/banner-accueil\(1\).jpg);
   z-index: -1;
   mix-blend-mode: multiply;
   padding: 0 0;
   margin-top: 0;
   margin-bottom:-0 ;
   background-size: cover;
   height: 800px;
   width: 100%;
   background-position: center;
   position: relative;
   display:flex;
   align-items: center;
   justify-content: center;
   
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
   
}

.home .left h1{
      font-size: 50px;
      margin:20px 30px;
      justify-content: center;
      color: white;
    
     
     
     
      
}

.home .left p{
       font-size: 25px;
       color:white;
       align-items: center;

}

.home .right img {
      width: 500px;
      height: 800px;
      padding: 10px ;
      object-fit: cover; 
      object-position: center;
      border-radius: 5px;
      border: 10px solid white;
      overflow: hidden;
      clip-path: inset(20% 20% 20% 20%);
      transform: rotate(-90deg);
      margin-top: -100px;
      margin-right: 150px;
      
}




.home .left h1 span{
    color:#b6740a;
    
} 
.left{
    margin-left: 150px;
    margin-top: -100px;

}
    


.right{
    margin-right: 100px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 50px 50px;
}
.accueil{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*4 blocs égaux */
  gap: 0.5%;
  margin: 20px 80px;
  padding:10px 50px;
  
  
}

.info {
  background: white;
  border-radius: 12px;
  padding: 60px 50px;
  text-align: center;
  margin: 50px 60px;
  min-width:250px ;


  /* même hauteur */
  min-height: 120px;

  /* centrage du contenu */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info p{
    font-size: 16px;
}
.info h2{
    color: #e05910;
    font-size: 40px;
}


.service{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: white;
    
    
}
.service .service1{
    margin: 20px 50px; 
    margin-bottom: -40px;
}
.service h1{
    color: black;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    
    
}
.service .para{
    font-size: 20px;
    margin-left: -150px;

}
.service .box-services{ 
      display: flex; 
      justify-content: space-between;
      align-items: center;
      margin: 10px 20px;
      padding: 100px 40px;
      gap: 50px;
      
      

}

.service .box-services .box{
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 60px 50px;
    
}   
.service .box-services .box h2{
    color: #815104;
    font-size: 30px;
}
.service .box-services .box .p1{
    font-size: 20px;
    color: #b6740ad2;
    margin-bottom: 10px;
    margin-top: 20px;
}
.service .box-services .box button{
    font-size: 16px;
    color: #ffb300;
    cursor: pointer;
    border: none;
    background: none;

}

.service .box-services .box1{
    background: #ffb3003a;
}
.service .box-services .box2{
    background: #ffb30010;
}
.proximite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 40px 20px;
}
.proximite h1{
    margin-bottom: 20px;
    padding-bottom: 10px 0;
    

}
.proximite .localisation{
    border-radius: 15px; 
    overflow: hidden;
    margin-top: 20px;
}
.avis-clients{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 50px;
    
}
.avis-clients h2{
    font-size: 40px;
    margin-bottom: 40px;
}
.avis-clients  .commentaires{
    display: flex;
    gap: 40px;
    align-items: center;
}
.avis-clients .commentaires .avis{
    border: 2px solid rgba(0, 0, 0, 0.032);
    border-radius: 8px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.36);
}
.avis-clients .commentaires .avis p{
    margin-top: 10px;
    font-size: 18px;
}

.avis-clients .commentaires .avis .nom{
    font-size: 25px;
   /* margin-bottom: 15px; */
}
.avis-clients .commentaires .avis .nom span{
    border: 1px solid #ffb300;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 40px;
    
}
.nom .fatou{
     background-color: #999;
}
.nom .mamadou{
     background-color:#e05910;
}
.nom .aissatou{
     background-color:#ffb300;
}
.nom .ousmane{
     background-color: green;
}
.f1{
    margin-left: 60px;
    color: #ffb300ab;
}
.f2{
    color: #ffb300ab;
}
.f3{
    color: #ffb300a6;
}
.f4{
    color: #ffb300ab;
}
.f5{
    color: #ffb300ab;
}
.f6{
    color: #999;
}
.commande{
    padding: 100px 100px;
    background-image: linear-gradient(rgba(202, 89, 2, 0.306), rgba(129, 59, 5, 0.577)),url(images/banner-accueil\(1\).jpg);
    mix-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    
}
.commande .pret{
     margin-left: 600px; 
   
}
.commande h1{
    margin-bottom: 20px;
    font-size: 60px;
    padding: 10px 10px;
    color: white;
}
.commande p{
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
}
.commande button{
    font-size: 30px;
    padding: 30px 30px;
    background: white;
    border: white;
    border-radius: 10px;
    margin-left: 200px;
    color:#e05910;
    cursor: pointer;
}
.informations{
    background-color: rgb(4, 4, 39);
    margin: 0 0;
    
}
.bloc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
     padding: 50px 60px; 
     border-bottom: 0.5px solid rgba(255, 255, 255, 0.154);
    
}
.bloc .bloc1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start; 
    color: white;
    
    
}
.bloc .bloc1 span{
    text-align: right;
    color: white;
    margin-top: 3px;
    font-size: 20px;

}    
.bloc .bloc1 strong{
    margin-bottom: 10px;
    font-size: 25px;
}

.bloc2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 20px;
    
}
.bloc1 #monSpan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* la mise en forme de l'interface traiteurs */
.decouverte{
    
    background-image: linear-gradient(rgba(202, 89, 2, 0.067), rgba(129, 59, 5, 0.292)),url(images/banner-caterers.jpg);
    
    /* padding: 00px 20%;
    /* padding-top: -200px; */
    background-size: cover;
    z-index: 2;
    height: 400px;
    background-position: center;
    overflow: hidden;
    mix-blend-mode: multiply;


}
.decouverte .deco{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-left: 550px;
    margin-top: 150px;
}
.decouverte .deco h1{
    font-size: 60px;
    margin-bottom: 15px;
    margin-top: -20px;
}
.decouverte .deco p{
    font-size: 20px;
}

.profil{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding:  30px 10%; 
    /* background-color: red; */
    width: 100%;
}
strong{
    font-size: 30px;
}
.profil .meta{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#specialites{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;

}
#status{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;

}
.profil .meta span{
    margin-bottom: 10px;
    font-size: 20px;
}
.btn3, .btn4{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn3{
    background-color: #e65100d4;
    border: none;
    color:white;
}
.btn3,.btn4 i{
    margin-right: 5px;
    
}
.btn3 i{
     color:white;
}

.profilleft{
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
}
.plat{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-left: 350px;
    margin-right: 350px; 
    margin-top: 50px;
    margin-bottom: 30px;
   
}
.haut{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: -10px;
    padding: 0; 
    margin: 0;
    border-radius: 20px;
    background-color: white;

}
.haut img{
    height: 160px;
    width: 30%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    

    
}
.haut .ecriture{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-left: -500px;
    padding: 0 20px;
    margin-top: 20px;
}
.btn5{
    display: flex;
    gap: 10px;
    align-items: center;
}
.haut .droite{
    display: flex;
    flex-direction: column;
   
}
.haut .droite i{
    margin-bottom: 100px;
    margin-top: 20px;
    color: #ffb300ba;
}
.haut .droite i span{
    margin-left: 5px;
    color: black;
}
.haut .droite .btn6{
     margin-right: 20px;
    margin-bottom: 20px; 
   
}
.btn5 button{
     padding: 2px 10px;
     border: none;
     border-radius: 10px;
     background-color: #9999992b;
}
.btn6{
    color: white;
    background-color: rgba(0, 0, 0, 0.819);
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    cursor: pointer;
}
#inscription{
    margin: 0;
   
    padding: 20px;

}

#inscription .formulaires{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    border-radius: 10px;
    
}
form{
    background-color:#fff;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.info-perso{
    padding: 20px;
    width: 50%;
    margin: auto;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #99999916;
    border-radius: 10px;
}
.info-perso span{
    margin-left: 20px;
    font-size: 25px;
    margin-top: 40px;
}
.nom-email,.password{
    display: flex;
    gap: 20px;
    /* margin: 0 auto; */
    margin-left: 20px;
}
.nom-email{
    margin-bottom: 25px;
}
.prenom,.mot-de-passe{
    display: flex;
    flex-direction: column;
}
.prenom input{
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    margin-top: 10px;
}
.mot-de-passe input{
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    margin-top: 10px;
}
.colore{
    background-color:#044f8143;
}
.info-pro{
    padding: 40px;
    width: 50%;
    margin: auto;
    /* height: 500px;  */
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #99999916;
    border-radius: 10px;
}
.info-pro span{
    margin-left: 3px;
    font-size: 25px;
    margin-top: 10px;
}
.choix-categorie,.annee-experience,.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin: 0 auto; */
}
.choix-categorie select{
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    margin-top: 5px;
    margin-bottom: 10px;

}
.annee-experience input{
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    margin-top: 5px;
    margin-bottom: 10px;

} 
.description input{
    padding: 60px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    margin-top: 5px;
    margin-bottom: 10px;

}
.services-proposes{
    margin-top: 10px;
}
.item{
    display: flex;
    gap: 100px;
    align-items: start;
    margin-top: 20px;
    
}
.listte{
    display: flex;
    flex-direction: column;
    
}
.services-proposes ul{
    margin-top: 20px;
      
}
.services-proposes ul li i{
    color: #999;
}
.info-contact{
    margin: auto;  
    /* padding: 5px; */
    width: 50%;
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    border: 2px solid #99999916;
    border-radius: 10px;
}
.info-contact span{
    /* margin-right: 440px; */
    font-size: 25px;
    margin-top: 10px;
    margin-left: -350px;
}
.tel-adresse{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 20px;
    margin-left: 0; 
   
   
}
.tel,.adresse{
    display: flex;
    flex-direction: column;
   
    
}   
.tel input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    margin-top: 10px;
   
    
}   
.adresse input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    margin-top: 10px;
}  
.info-identite{
    margin: auto;  
    /* padding: 5px; */
    width: 50%;
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    border: 2px solid #99999916;
    border-radius: 10px;
}
.info-identite span{
    margin-left: -450px;
    font-size: 25px;
    margin-top: 10px;
}
.format{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: -320px;
}

.btn-f{
    padding: 10px;
    color:#c04305c8;
    background-color: #f7a7264a;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 5px;
}   
.choix-format{
   margin-left: -200px;
}
.inscrire{
    margin-left: 965px;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    background-color:#f35c0ac7;
}